//Colors
$vermelho: #fd5057;
$vinho: #a8353a;
$cinza: #d1d1d1;
$cinza2: #e8e8e8;
$cinza3: #626262;
$cinza4: #4a4a4a;
$salmao: #ee5754;
$branco: #ffffff;




//Fonts Config
a, p, h1, h2, h3, h4, h5, h6, li,  input, select, textarea, span{
   font-family: 'Titillium Web', sans-serif;
}

a, p, h5, h6, li , span{
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.btn-hover:hover {
    opacity: 0.9;
    cursor: pointer;
}