//Colors
$vermelho: #fd5057;
$vinho: #a8353a;
$cinza: #d1d1d1;
$cinza2: #e8e8e8;
$cinza3: #626262;
$cinza4: #4a4a4a;
$salmao: #ee5754;
$branco: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family: 'Baloo';
    src: 
    url('BalooBhaijaan2-Bold.ttf') format(truetype), 
    url('BalooBhaijaan2-ExtraBold.ttf') format(truetype),
    url('BalooBhaijaan2-Medium.ttf') format(truetype),
    url('BalooBhaijaan2-Regular.ttf') format(truetype)
    url('BalooBhaijaan2-SemiBold.ttf') format(truetype),
    url('BalooBhaijaan2-VariableFont_wght.ttf') format(truetype);
}




//Fonts Config
a, p, h1, h2, h3, h4, h5, h6, li,  input, select, textarea, span, button, input{
    font-family: 'Baloo 2', cursive;
}

a, p, h5, h6, li , span{
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}