@import "designSystem";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 4rem;
  background-color: $cinza4;

  div.footer-section {
    background-color: $cinza4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;

    div.logo-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 20rem;
      background-color: $cinza4;


      p {
        font-size: 0.8rem;
        font-style: italic;
        font-weight: bold;
        margin-right: 0.5rem;
        color: $cinza2;
      }

      a {
        img {
          height: 1.5rem;
        }
      }
    }
  }
}

.modal-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #FFFFFF;
  width: 90vw;
  height: 90vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4vh 2vw 0 3vw;
    position: relative;

    .fechar {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 30px;
      width: 30px;
      top: -3rem;
      right: -4rem;
      border-radius: 50%;
      background-color: $salmao;
      color: $branco;
      font-weight: bold;
      border: none;
      font-size: 1rem;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    }
}

  div.gallery-repeater {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2vh;
    padding: 0 1rem;
    overflow: auto ;

    img {
      margin: 2vh;
      width: 18vw;
    }

  }
}

.modal-container {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0 , -60px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0 , 0, 0)    
  }
}

.mostrar .modal {
  animation: modal 0.3s;
}

.hide {
  display:none;
}