@import "designSystem";

header.header {
  display: flex;
  flex-direction: row;
  background-color: $vermelho;
  height: 38rem;
  justify-content: space-between;


  div.header-img {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img.logo {
      position: absolute;
      top: 1rem;
      left: 2rem;
      height: 8rem;
    }

    img.foto1 {
      height: 100%;
      max-height: 38rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  div.header-txt {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $branco;

    img.bg-header {
      position: absolute;
      display: flex;
      z-index: 0;
      top: 0;
      right: 0;
      height: 38rem;
      max-height: 38rem;
    }

    h1 {
      z-index: 1;
      font-size: 4vw;
      font-weight: bold;
      line-height: 3rem;
    }

    p {
      z-index: 1;
      margin-top: 8px;
      font-size: 2.2vw;
      line-height: 2rem;
    }

    .btn-wrapper {
      width: 100%;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-size: 2.2vw;

      .btn-header-1 {
        width: 50%;
        margin: 1rem 0 0.5rem 0;
        border: none;
        padding: 1rem;
        border-radius: 36px;
        background-color: black;
        color: $branco;
        justify-content: left;
        font-size: 1.2vw;
      }

      .btn-header-2 {
        width: 50%;
        margin: 0.5rem 0 1rem 0;
        border: none;
        padding: 1rem;
        border-radius: 36px;
        background-color: $branco;
        color: black;
        justify-content: left;
        font-size: 1.2vw;
      }
    }

    ul.social {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      position: absolute;
      top: 29rem;
      right: 1.5rem;
      height: 8rem;

      li {
        padding: 8px 10px;

        a {
          font-size: 1.5rem;
          text-decoration: none;
          color: $branco;
        }
      }

      li:nth-child(3n) {
        border-radius: 100%;
        background-color: black;

      }
    }
  }
}

@media (max-width: 1000px) {
  header.header {



    div.header-img {
      img.foto {
        width: 60%;
      }
    }

    div.header-txt {
      img.bg-header {
        width: 40%;
        object-fit: cover;
        object-position: 0%;
      }
    }
  }
}

@media (min-width: 1700px) {
  header.header {
    div.header-txt {
      h1 {
        line-height: 4rem;
      }

      p {
        line-height: 3rem;
      }
    }
  }
}

@media (max-width: 767px) {
  header.header {
    width: 100%;
    div.header-img {
      width: 100%;
      img {
      width: 50%;
      }
    }
    div.header-txt {
      width: 100%;

    }
  }
}
