main.inicio {
  section.main {
    height: 40rem;
    background-color: $cinza;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div.about-us-txt {
      width: 50%;

      h1.title-about-us {
        margin: 6rem 0 2rem 3rem;
        font-weight: bold;
        color: $branco;
      }

      p {
        color: $cinza3;
        font-size: 1.4vw;
        margin: 0 0 2rem 3rem;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.8vw;

        strong {
          font-weight: bold;
          color: $cinza4;
        }

        b {
          font-weight: 600;
          color: $vermelho;
        }
      }
    }

    div.about-us-img {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      img.foto {
        height: 100%;
        max-height: 38rem;
        margin: 2rem 1rem 0 2rem;
      }

    }

  }

  section.gallery {
    background-color: $cinza2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    div.album {
      width: 40%;
      margin: 6rem auto;

      h2 {
        font-size: 1.4vw;
        color: $cinza3;
        margin: 0 0 0.5rem 0;
        font-weight: bold;
      }

      h1 {
        font-size: 2vw;
        color: $vermelho;
        margin: 0 0 2rem 0;
        font-weight: bold;
      }

      div.player-wrapper {
        img {
          width: 30%;
        }
      }
    }

    div.gallery {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 6rem auto;
      width: 40%;

      h2 {
        font-size: 1.4vw;
        color: $cinza3;
        margin: 0 0 0.5rem 0;
        font-weight: bold;
      }

      h1 {
        font-size: 2vw;
        color: $vermelho;
        margin: 0 0 2rem 0;
        font-weight: bold;
      }

      div.gallery-repeater {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        img {
          width: 32%;
          margin: 2px;
        }
      }
    }

    div.btn-wrapper {
      display: flex;
      justify-content: center;

      button.full-album {
        position: absolute;
        padding: 1rem;
        width: 15%;
        font-weight: bold;
        font-size: 0.9vw;
        background-color: transparent;
        color: $cinza3;
        border: $cinza3 solid;
        border-radius: 36px;
        margin-top: 2rem;
      }
    }
  }

  section.yt-videos {
    background-color: $cinza3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    div.yt-content {
      display: flex;
      width: 90%;

      div.yt-title {
        display: flex;
        flex-direction: column;
        margin: 6rem 0 0 2rem;

        h2 {
          font-size: 1.4vw;
          color: $branco;
          margin: 0 0 0.5rem 0;
          font-weight: bold;
        }

        h1 {
          font-size: 2vw;
          color: $vermelho;
          margin: 0 0 2rem 0;
          font-weight: bold;
        }
      }
    }
  }

  section.social {
    width: 100%;
    background-color: $cinza4;
    display: flex;
    justify-content: space-between;

    ul.social-content {
      width: 80%;
      margin: 2rem auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      a {
        li {
          display: flex;
          justify-content: space-between;

          img {
            max-width: 10rem;
          }

        }

      }

      a:hover {
        opacity: 0.7;
      }
    }
  }

  section.events {
    display: flex;
    flex-direction: row;
    background-color: $vermelho;

    div.foto-events {
      width: 50%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
      }

      div.text-foto {
        margin: 0;
        flex-wrap: wrap;
        position: absolute;
        top: 40%;
        right: 0;

        p {
          font-weight: bold;
          font-size: 2.5rem;
          padding: 0.5rem;
        }

        p:nth-child(1) {
          width: 21.5rem;
          background-color: $vermelho;
          color: $branco;
        }
      }


      p:nth-child(2) {
        width: 10rem;
        background-color: $branco;
        color: $vermelho;
        margin-left: 11.5rem;
      }
    }

    div.events-list {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      div.wrapper-wrapper-events {
        h3 {
          margin-bottom: 2rem;
          display: flex;
          align-items: left;
          font-size: 2vw;
          color: $branco;
        }

        div.event-repeater {

          ul.event-content-wrapper {

            li {
              width: 100%;
              font-size: 1rem;
              color: $branco;
              margin: 4px 0;
              padding: 1vw 2rem 1vw 0;
              border-top: 1px $branco solid;
            }

            li:last-child {
              border-bottom: 1px $branco solid;
            }
          }

          div.btn-wrapper {
            margin-top: 3rem;

            button.full-events {
              border: 0;
              border-radius: 128px;
              font-size: 1vw;
              padding: 1rem 2.5rem;
              font-weight: bold;
          
            }
          }

        }
      }
    }
  }

  section.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem 0;
    background-color: $cinza3;
    div.text-contact{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      h1 {
        font-size: 2rem;
        color:$branco;
        font-weight: bold;
      }

      h1:nth-child(2) {
        font-size: 2rem;
        color: $vermelho;
      }

      h4 {
        margin-top: 3rem;
        color:$branco;
        font-style: italic;
        font-size: 1.2rem;
        line-height: 1.4rem;
      }

      p {
        color:$branco;
        font-style: italic;
        font-size: 1rem;
        line-height: 1.4rem;
      }

      h5 {
        margin-top: 1.5rem;
        color:$vermelho;
        font-weight: bold;
      }

    }

    div.form-wrapper {
      width: 30%;
      h3 {
        color: $branco;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      form.contact {
        width: 100%;
        input {
          margin: 0.3rem 0;
          padding: 0.8rem;
          width: 100%;
          color: $cinza2;
          background-color:$cinza4 ;
          border-radius: 8px;
          border: 0;
          font-size: 1rem;
          font-style: italic;
          font-family: 'Baloo';
          font-weight: bold;
        }

        textarea {
          margin: 0.3rem 0;
          padding: 0.8rem;
          width: 100%;
          color: $cinza2;
          background-color:$cinza4 ;
          border-radius: 8px;
          border: 0;
          resize: none;
          font-size: 1rem;
          font-style: italic;
          font-family: 'Baloo';
          font-weight: bold;
        }

        input[type="submit"] {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 64px;
          padding: 1rem;
          width: 40%;
          font-size: 0.8rem;
          background-color: $branco;
          color: black;
          font-family: 'Baloo';
          font-weight: bold;
        }


      }
    }
  }







  @media screen and (max-width:1300px) {


    section.social {
      ul.social-content {
        li {
          a {
            img {
              max-width: 10rem;
            }
          }
        }
      }
    }

    section.events {
      div.foto-events {
        width: 50%;

        img {
          width: 100%
        }
      }

      div.events-list {
        div.wrapper-wrapper-events {
          div.event-repeater {
            ul.event-content-wrapper {
              li {
                padding: 0.5rem 2rem 0.5rem 0;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }


  }
}